<ion-header no-border>

  <div class="login-header ion-padding">


    <ion-grid>
      <ion-row>
        <ion-col size="2" style="text-align: left;">
          <h1 big-headingTres>
            <ion-buttons slot="start">
              <ion-back-button slot="end" defaultHref="nueva-incidencia"></ion-back-button>
            </ion-buttons>
          </h1>
        </ion-col>
        <ion-col size="8">
          <h1 big-headingDos>Observaciones</h1>
        </ion-col>
        <ion-col size="2">
          </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-header>
<ion-content>

 <ion-content>

 

  <ion-list>
    <ion-item>
     
      <ion-icon slot="start" name="build"></ion-icon>
   
    <ion-label>
      <h3 style="color:orangered">Tipologia</h3>
      <p>{{itemSeleccionado}}</p> 
    </ion-label>
  </ion-item>

    <ion-item>
     
      <ion-icon slot="start" name="calendar"></ion-icon>
   
    <ion-label>
      <h3 style="color:orangered">Fecha</h3>
      
        <ion-datetime  style="margin-left: 0px;" displayFormat="DD-MM-YYYY" [(ngModel)]="myDate"></ion-datetime>
    
    </ion-label>
  </ion-item>


  
  <ion-item>
     
    <ion-icon slot="start" name="camera"></ion-icon>
 
  <ion-label>
    <h3 style="color:orangered">Foto</h3>
    <p><ion-button expand="block" (click)="getPicture()">Toma una foto</ion-button></p>
    <p><ion-button expand="block" (click)="getGalery()">Seleccionar de Galeria</ion-button></p>
    <p><img  [src]="image" *ngIf="image" /></p>
  </ion-label>
  
</ion-item>




 


  <ion-item>
     
    <ion-icon slot="start" name="brush"></ion-icon>
 
  <ion-label>
    
    <h3 style="color:orangered">Descripcion</h3>
    <ion-item style="margin-left: 0px;">
      <ion-textarea [(ngModel)]="descripcion"  placeholder="Cuéntanos un poco sobre la incidencia..."></ion-textarea> 
    </ion-item>
  </ion-label>
</ion-item>


    
 </ion-list>

 
  <ion-button style="margin-left: 15px; margin-right: 15px;" color="success" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="enviarIncidencia()">Enviar</ion-button>
  <ion-label class="labelStyle" style="color:red;">{{ res }}</ion-label>
</ion-content>


</ion-content>
