<ion-header no-border>
  
  <div class="login-header ion-padding">
    
      
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="text-align: left;">
          <h1 big-headingTres>
            <ion-buttons slot="start">
              <ion-back-button slot="end" defaultHref="menu"></ion-back-button>
            </ion-buttons>
          </h1>
        </ion-col>
        <ion-col size="8">
          <h1 big-headingDos>Crear puesto</h1>
          
        </ion-col>
        <ion-col size="2">
      
          <h1 big-heading>
            
            <ion-icon (click)="enviarPuesto()"  style="font-size: 40px; color: rebeccapurple;margin-top: 0;" name="checkmark-circle-outline"></ion-icon>
          </h1>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="grupoControl">
    <ion-item>
      <ion-label position="floating">  <ion-icon class="iconPuesto" slot="start" name="build"></ion-icon> Profesion</ion-label>
      <ion-input  formControlName="regexProfesion"  [(ngModel)]="profesion"></ion-input>
      <br>
      <h4 style="color:red;margin-left: 15px;font-size: 10px;" *ngIf="grupoControl.get('regexProfesion').errors">
        No válido. (Ejemplo: Profesor)
       </h4>
    </ion-item>
</form>
<form [formGroup]="grupoControl">
    <ion-item>
      <ion-label position="floating">  <ion-icon class="iconPuesto" slot="start" name="apps"></ion-icon> Caracteristicas</ion-label>
      <ion-input formControlName="regexCaracteristicas" [(ngModel)]="caracteristicas"></ion-input>
      <br>
      <h4 style="color:red;margin-left: 15px;font-size: 10px;" *ngIf="grupoControl.get('regexCaracteristicas').errors">
        Introduce caracteristicas por favor (min.5 caracteres)
       </h4>
    </ion-item>
</form>
    <form [formGroup]="grupoControl">
    <ion-item>
      <ion-label position="floating">  <ion-icon class="iconPuesto" slot="start" name="wallet"></ion-icon> Salario (€/mes)</ion-label>
      <ion-input formControlName="regexSalario" [(ngModel)]="salario"></ion-input>
      <br>
      <h4 style="color:red;margin-left: 15px;font-size: 10px;" *ngIf="grupoControl.get('regexSalario').errors">
        No válido. Introduce digitos numéricos 
       </h4>
    </ion-item>
  </form>

    <form [formGroup]="grupoControl">
    <ion-item>
      <ion-label position="floating">  <ion-icon class="iconPuesto" slot="start" name="podium"></ion-icon> Email</ion-label>
      <ion-input formControlName="regexCorreo"  [(ngModel)]="email"></ion-input>
      <br>
      <h4 style="color:red;margin-left: 15px;font-size: 10px;" *ngIf="grupoControl.get('regexCorreo').errors">
        No válido. (Ejemplo: calamonte@gmail.com)
       </h4>
    </ion-item>
    </form>


    <form [formGroup]="grupoControl">
    <ion-item >
      <ion-label position="floating">  <ion-icon class="iconPuesto" slot="start" name="call"></ion-icon> Telefono</ion-label>
      <ion-input  formControlName="regexTelefono" [(ngModel)]="telefono"></ion-input>
      <br>
      <h4 style="color:red;margin-left: 15px;font-size: 10px;" *ngIf="grupoControl.get('regexTelefono').errors">
        No válido. Introduce 9 digitos numéricos
       </h4>
    </ion-item>
    </form>

    <form [formGroup]="grupoControl">
    <ion-item>
      <ion-label position="floating">  <ion-icon class="iconPuesto" slot="start" name="people"></ion-icon>Trabajadores a contratar</ion-label>
      <ion-input formControlName="regexTrabajadores" [(ngModel)]="trabajadores"></ion-input>
      <br>
      <h4 style="color:red;margin-left: 15px;font-size: 10px;" *ngIf="grupoControl.get('regexTrabajadores').errors">
       No válido. Introduce digitos numéricos
      </h4>
    </ion-item>
    </form>


  </ion-list>

 

  <ion-label class="labelStyle" style="color:red;">{{ res }}</ion-label>

 
</ion-content>

